<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="stylesheet" href="{{ `css/style.css` | relURL }}" type="text/css" media="all">

	{{ range .Params.css }}
		<link rel="stylesheet" href="{{ ($.Page.Resources.GetMatch .).RelPermalink }}">
	{{ end }}

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">


	<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
	<script>mermaid.initialize({ 
		startOnLoad: true,
		theme: 'base',
		themeVariables: {
			// https://mermaid.js.org/config/theming.html#theme-variables
			fontSize: '0.85rem',
			background: '#ffffff',
			fontFamily: 'Monaspace Xenon',
			primaryColor: '#D9D7EA',
			nodeBorder: '#2E294E',
			primaryTextColor: '#000000',
			edgeLabelBackground: '#ffffff',
			noteBkgColor: '#d9e6ec',
		} 
		});</script>

	

</head>

<body>

{{ if not .IsHome }}{{ partial "nav.html" . }}{{ end }}

<main class="content">
